:root {
    --dark_mode_green: rgb(52, 103, 81, 80%);
    --dark_mode_black: rgb(22, 22, 22);
    --dark_mode_background_black: rgb(34, 34, 34, 80%);
    --dark_mode_black_lighter: rgb(42, 42, 42, 80%);
    --dark_mode_gray_text: rgb(224, 224, 224);
    --dark_mode_reddish: rgb(200, 75, 49, 80%);
    --dark_mode_nudish: rgb(236, 219, 186, 80%);

    --version_1_color_odd: rgb(6, 54, 48, 15%);
    --version_1_color_even: rgb(213, 159, 51, 15%);
    --version_1_black_color_text: #222;
    --version_1_white_color_text: #fff;
    --version_1_green_accent: rgb(174, 192, 133);

    --test_1: rgba(244, 206, 107, 1);
    --test_2: rgba(190, 208, 160, 1);
    --test_3: rgba(240, 236, 217, 1);
    --test_4: rgba(242, 197, 185, 1);
    --test_5: rgba(200, 230, 223, 1);
    --test_6: rgba(8, 47, 45, 1);
}

html,
body {
    border: 0;
    font-family: Fahkwang;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--test_6);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--dark_mode_background_black);
    /* background-image: url("../files/texture.webp"); */
    /* background-image: url("../files/texture_bg.jpeg"); */
    background-repeat: repeat;
    background-size: cover;
    font-size: 1.6rem;
}

button {
    background-color: var(--dark_mode_black_lighter);
    background-image: url("../files/arrow_top_white.png");
    background-position: center;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    border: none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 2.2rem;
    position: fixed;
    right: 30px;
    z-index: 99;
}

button:hover {
    background-color: var(--dark_mode_gray_text);
    background-image: url("../files/arrow_top_black.png");
    color: #222;
    cursor: pointer;
    padding: 2.8rem;
}

a {
    color: #222;
    text-decoration: none;
}

a.hyperlink {
    text-decoration: underline;
}

header {
    background-color: var(--test_2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    z-index: 1;
}

header article {
    bottom: auto;
    font-size: 2.2rem;
    left: 50%;
    position: absolute;
    right: auto;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

/* ul {
    position: sticky;
    top: 1px;
    z-index: 103;
} */

ul.filter-container {
    width: 100%;
    margin: auto;
    padding: 0;
}

/* .button {
    background: #222;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 1rem;
    padding: .8rem 3rem;
}

.button:hover,
.filter-container .active {
    background: rgb(6, 54, 48, 15%);
    color: #222;
    letter-spacing: .2rem;
} */



.button {
    background-color: var(--dark_mode_black_lighter);
    border: none;
    color: var(--dark_mode_gray_text);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 1.7rem;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.button span {
    position: relative;
    z-index: 1;
}

.button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 550%;
    width: 20em;
    background: var(--test_6);
    transition: all .5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.button:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


@media only screen and (min-width: 768px) {
    header article {
        font-size: 3.6rem;
    }
}

section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 5% 0;
    position: relative;
    scroll-snap-align: start;
}

section h2 {
    font-size: 2.4rem;
    margin-bottom: 1em;
}

section p {
    line-height: 1.6;
}

section .content::after {
    /* phone image on small devices */
    content: '';
    display: block;
    padding: 60% 0;
    margin: 2em auto 0;
    width: 100%;
}

section:nth-of-type(odd) {
    background-color: var(--dark_mode_nudish);
    color: var(--dark_mode_background_black);
}

section:nth-of-type(even) {
    background-color: var(--dark_mode_reddish);
}

section.unleash .content::after {
    background: url("../files/Unleash_website_transparent.png") no-repeat;
    background-size: 100% auto;
}

section.indie .content::after {
    background: url("../files/indie.png") no-repeat;
    background-size: 100% auto;
}

section.laptop_redesign .content::after {
    background: url("../files/laptop_redesign.png") no-repeat;
    background-size: 100% auto;
}

section.kwartet .content::after {
    background: url("../files/kwartetspel_blm.png") no-repeat;
    background-size: 100% auto;
}

section.so_nuts .content::after {
    background: url("../files/so_nuts_transparent.png") no-repeat;
    background-size: 100% auto;
}

section.memory .content::after {
    background: url("../files/memory_game.png") no-repeat;
    background-size: 100% auto;
}

section.de_gezonde_stad_socials .content::after {
    background: url("../files/degezondestad.png") no-repeat;
    background-size: 100% auto;
}

section.arfid .content::after {
    background: url("../files/arfid.png") no-repeat;
    background-size: 100% auto;
}

section.hva_pride .content::after {
    background: url("../files/hva_pride_campagne.png") no-repeat;
    background-size: 100% auto;
}

section.LTGL .content::after {
    background: url("../files/LTGL.png") no-repeat;
    background-size: 100% auto;
}

@media only screen and (min-width: 768px) {
    section {
        background-position: right;
        background-size: 50rem;
        height: 100%;
        padding: 0;
    }

    section h2 {
        font-size: 3.6rem;
    }

    section p {
        font-size: 1.8rem;
        line-height: 1.8;
    }

    section .content {
        bottom: auto;
        left: 5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
    }

    section .content::after {
        display: none !important;
    }

    section.unleash {
        background-image: url("../files/Unleash_website_transparent.png");
    }

    section.indie {
        background-image: url("../files/indie.png");
    }

    section.laptop_redesign {
        background-image: url("../files/laptop_redesign.png");
    }

    section.kwartet {
        background-image: url("../files/kwartetspel_blm.png");
    }

    section.so_nuts {
        background-image: url("../files/so_nuts_transparent.png");
    }

    section.memory {
        background-image: url("../files/memory_game.png");
    }

    section.de_gezonde_stad_socials {
        background-image: url("../files/degezondestad.png");
    }

    section.arfid {
        background-image: url("../files/arfid.png");
    }

    section.hva_pride {
        background-image: url("../files/hva_pride_campagne.png");
    }

    section.LTGL {
        background-image: url("../files/LTGL.png");
    }
}

@media only screen and (min-width: 1048px) {
    section {
        background-attachment: fixed;
        background-size: 80rem;
    }

    section .content {
        left: 10%;
        width: 30%;
    }
}