:root {
    --text: #161f1a;
    --color_1: #EFC65E;
    --color_2: #BAD36B;
    --color_3: #F89A7C;
    --color_4: #D0F7FF;
    --color_5: #E4C1A4;
    --color_6: #798DA8;
    --color_7: #C9A17C;
    --color_8: #43AB6C;
    --color_9: #96523C;
    --color_10: #DFDEDE;
    --button: #fff;
    --button_triangle: #e9ede9b1;
}

html,
body {
    border: 0;
    font-family: Fahkwang;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}

body {
    /* background-color: var(--dark_mode_background_black); */
    background-image: url("../files/texture.webp");
    background-repeat: repeat;
    background-size: cover;
    color: var(--text);
    font-size: 1.6rem;
}

button {
    background-color: #222;
    background-image: url("../files/arrow_top_white.webp");
    background-position: center;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    border: none;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 2.2rem;
    position: fixed;
    right: 30px;
    transition: all .5s ease-in-out;
    z-index: 99;
}

button:hover {
    background-color: #fff;
    background-image: url("../files/arrow_top_black.webp");
    color: #222;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transition: all .5s ease-in-out;
    transform: translateY(-1rem);
}

a {
    color: #222;
    text-decoration: none;
}

a.hyperlink {
    text-decoration: underline;
}

header {
    background-color: var(--header);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    z-index: 1;
}

header article {
    bottom: auto;
    /* font-size: 2.2rem; */
    left: 50%;
    position: absolute;
    right: auto;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

header h1 {
    font-size: 6rem;
    margin: auto;
}

header p {
    font-size: 2rem;
}


header ul {
    width: 100%;
    margin: auto;
    padding: 0;
}

header li,
.external_link {
    background-color: #222;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 1.7rem;
    overflow: hidden;
    position: relative;
    padding: 1rem 4rem;
}

header li span {
    color: #fff;
    position: relative;
    z-index: 1;
}

header li::after {
    background-color: darkgray;
    content: "";
    height: 650%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transition: all .5s ease-in-out;
    width: 26rem;
}

.filter-container .active,
section header li {
    background-color: darkgray;
}

header li:hover::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


@media only screen and (min-width: 768px) {
    header h1 {
        font-size: 7.6rem;
        margin: auto;
    }
}

section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 5% 0;
    position: relative;
    scroll-snap-align: start;
}

section h2 {
    font-size: 2.4rem;
    margin-bottom: 1em;
}

section p {
    line-height: 1.6;
}

.external_link {
    background-color: #e9ede9b1;
    transition: all .5s ease-in-out;
}

.external_link::after {
    content: attr(external_link_arrow);
}

.external_link:hover {
    transform: scale(0.95);
    transition: all .5s ease-in-out;
}

section .content::after {
    content: '';
    display: block;
    padding: 60% 0;
    margin: 2em auto 0;
    width: 100%;
}

section:nth-of-type(2n-1) {
    background-color: var(--color_1);
    /* color: #77632f; */
    color: #5f4f25;
}

section:nth-of-type(2n+0) {
    background-color: var(--color_2);
    color: #4a542a;
}

section:nth-of-type(3n+0) {
    background-color: var(--color_3);
    color: #7c4d3e;
}

section:nth-of-type(4n+0) {
    background-color: var(--color_4);
    color: #687b7f;
}

section:nth-of-type(5n+0) {
    background-color: var(--color_5);
    color: #726052;
}

section:nth-of-type(6n+0) {
    background-color: var(--color_6);
    color: #3c4654;
}

section:nth-of-type(7n+0) {
    background-color: var(--color_7);
    color: #64503e;
}

section:nth-of-type(8n+0) {
    background-color: var(--color_8);
    color: #215536;
}

section:nth-of-type(9n+0) {
    background-color: var(--color_9);
    color: #4b291e;
}

section:nth-of-type(10n+0) {
    background-color: var(--color_10);
    color: #6f6f6f;
}

section.unleash .content::after {
    background-image: url("../files/unleash.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.indie .content::after {
    background: url("../files/indie_aesthetic.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.laptop_redesign .content::after {
    background: url("../files/laptop_redesign.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.kwartet .content::after {
    background: url("../files/blm_game.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.so_nuts .content::after {
    background: url("../files/so_nuts.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.memory .content::after {
    background: url("../files/memory_game.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.de_gezonde_stad_socials .content::after {
    background: url("../files/de_gezonde_stad.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.arfid .content::after {
    background: url("../files/arfid.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.hva_pride .content::after {
    background: url("../files/hva_pride.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section.LTGL .content::after {
    background: url("../files/LTGL.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media only screen and (min-width: 768px) {
    section {
        background-position: right;
        background-size: 50rem;
        height: 100%;
        padding: 0;
    }

    section h2 {
        font-size: 3.6rem;
    }

    section p {
        font-size: 1.8rem;
        line-height: 1.8;
    }

    section .content {
        bottom: auto;
        left: 5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
    }

    section .content::after {
        display: none !important;
    }

    section.unleash {
        background-image: url("../files/unleash.webp");
    }

    section.indie {
        background-image: url("../files/indie_aesthetic.webp");
    }

    section.laptop_redesign {
        background-image: url("../files/laptop_redesign.webp");
    }

    section.kwartet {
        background-image: url("../files/blm_game.webp");
    }

    section.so_nuts {
        background-image: url("../files/so_nuts.webp");
    }

    section.memory {
        background-image: url("../files/memory_game.webp");
    }

    section.de_gezonde_stad_socials {
        background-image: url("../files/de_gezonde_stad.webp");
    }

    section.arfid {
        background-image: url("../files/arfid.webp");
    }

    section.hva_pride {
        background-image: url("../files/hva_pride.webp");
    }

    section.LTGL {
        background-image: url("../files/LTGL.webp");
    }
}

@media only screen and (min-width: 1048px) {
    section {
        background-attachment: fixed;
        background-size: 80rem;
    }

    section .content {
        left: 10%;
        width: 30%;
    }
}